$primary: #6366f1;
$primary-hover: #5153ce;
$secondary: rgb(255, 114, 53);
$secondary-hover: #d8612e;
$text: #f3eded;
$text-alternate: #cccccc;
$background: #0f0c29;
$background-alternate: #2d2b5a;
$block-bg-first: #1e293b;
$block-bg-second: #1e1e3f;
